{% extends "base.html" %}
{% block content %}
<h2>README.md</h2>

{% raw %}
<pre class="line-numbers"><code class="language-none">Welcome to my personal developer portfolio 👋

I'm a Python developer with 2 years of experience in building intelligent, data-driven applications 
using Flask, SQL, and machine learning.

Here, you'll find:

📄 about.py      – Learn more about me and my technical background  
📁 projects/     – Explore my recent work in DL, ML, Flask and Python 
📊 skills.txt    – View my core technical skills and expertise
📫 contact.js    – Get in touch or find my social links  
📎 resume.pdf    – Download my resume  

Feel free to open any file on the left and start exploring.

~ $ happy to connect!
</code></pre>
{% endraw %}

{% endblock %}
